@import "@/styles/base";

.planning {
  &-form {
    position: relative;
    height: max-content;
    padding: getRem($basePaddingHorizontalXs) getRem($basePaddingHorizontalSm) getRem($basePaddingHorizontalMd);
    background-color: $backgroundColorLight;
    overflow-y: scroll;

    @include md-breakpoint {
      padding-left: getRem($basePaddingHorizontalMd);
      padding-bottom: initial;
      width: 50%;
      height: 100vh;
    }
  }

  &-map {
    top: 0;
    right: 0;
    position: absolute;
    width: 50%;
    height: 100vh;
    z-index: 1;
  }

  &-heading {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-back-icon {
      position: absolute;
      top: getRem(30);
      left: getRem(10);
      width: getRem(15);
      height: getRem(15);
      cursor: pointer;

      @include sm-breakpoint {
        top: getRem(30);
        left: getRem(15);
      }

      @include md-breakpoint {
        left: getRem(20);
      }
    }

    &-date-form {
      margin-top: getRem(10);
      display: flex;
      align-items: center;
      column-gap: getRem(10);
      font-size: getRem(12);

      &-pencil-icon {
        width: getRem(12);
        height: getRem(12);

        &:hover {
          cursor: pointer;
        }
      }

      .dp__input_wrap {
        width: getRem(170) !important;
      }

      &-input {
        width: getRem(120) !important;
      }
    }

    &-destination-image {
      margin-top: getRem(20);
      width: 100%;
      box-shadow: getRem(5) getRem(5) getRem(20) $boxShadow;

      @include sm-breakpoint {
        width: calc(100wv / 2 - getRem($basePaddingHorizontalMd * 2));
      }
    }
  }

  &-suggestion-in-progress {
    display: flex;
    margin: getRem(20) auto;
    column-gap: getRem(20);
    justify-content: center;

    & > span {
      font-size: getRem(13);
    }
  }

  &-top-places {
    position: absolute;
    margin-top: getRem(10);

    &-carousel {
      height: getRem(270);
      column-gap: getRem(20);
    }

    &-carousel-item {
      width: getRem(150);
      height: getRem(200);
      flex-basis: getRem(200);

      &-card {
        border-radius: getRem(10);
        padding: getRem(10);
        background-color: $contentText;
        height: getRem(200);
        box-shadow: getRem(4) getRem(4) getRem(15) $boxShadow;
        display: flex;
        flex-direction: column;
        row-gap: getRem(10);

        & > h4 {
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        & > img {
          width: 100%;
          height: getRem(100);
        }

        & > span {
          display: -webkit-box;
          font-size: getRem(8);
          text-overflow: ellipsis;
          -webkit-line-clamp: 4;

          color: $disabled;
        }
      }
    }
  }

  &-budget-container {
    display: flex;
    align-items: center;
    column-gap: getRem(10);

    &-suggest-button {
      background-color: $backgroundColorDarker;
      color: $backgroundSecondary;
      font-weight: bold;
      font-size: getRem(10);
      border-radius: getRem(10);
      margin-left: getRem(10);

      &:hover {
        background-color: $backgroundColorDarkerHover;
        border: none;
        box-shadow: none;
      }
    }

    &-popup {
      width: getRem(400);
      display: flex;
      flex-direction: column;
      row-gap: getRem(20);

      &-title {
        margin: 0 auto;
      }

      &-amount-and-currency {
        display: flex;
        column-gap: getRem(20);
        align-items: flex-end;
      }

      &-currencies {
        display: flex;
        column-gap: getRem(10);
        padding-bottom: getRem(3);

        &-item {
          display: table-cell;
          width: getRem(35);
          height: getRem(25);
          line-height: getRem(25);
          text-align: center;
          font-weight: 500;
          background-color: $backgroundColorDarker;
          border-radius: getRem(10);

          &:hover {
            cursor: pointer;
            background-color: $backgroundColorDarkerHover;
          }
        }

        &-selected {
          @extend .planning-budget-container-popup-currencies-item;
          background-color: $backgroundColorDarkerHover;
        }
      }

      &-budget-entries {
        display: flex;
        column-gap: getRem(20);
        align-items: center;

        &-label {
          font-size: getRem(12);
          font-weight: 500;

          &:hover {
            color: #9f9f9f;
            cursor: pointer;
          }
        }

        &-close {
          border: none;
          background: none;
          cursor: pointer;
          width: getRem(15);
          height: getRem(15);
        }
      }

      &-button-container {
        display: flex;
        margin: 0 auto;
        column-gap: getRem(20);
      }
    }
  }

  &-daily-activity {
    margin-top: getRem(25);

    &-date-container {
      display: flex;
      align-items: center;
      column-gap: getRem(10);

      &-day {
        color: $disabled;
        font-size: getRem(12);
      }

      &-day-number {
        font-weight: 500;
      }
    }

    &-add-place {
      display: inline-block;
      margin-top: getRem(10);
      margin-bottom: getRem(20);
      font-size: getRem(12);
      font-weight: bold;

      &-search {
        display: flex;
        margin-top: getRem(20);
        padding-left: getRem(5);
        align-items: center;
        background-color: $contentText;
        box-shadow: getRem(4) getRem(4) getRem(20) $boxShadow;
        border-radius: getRem(7);
        height: getRem(30);

        & > img {
          width: getRem(15);
          height: getRem(15);
        }

        & .multiselect__placeholder, & .multiselect__input, & .multiselect__tags {
          color: $disabled !important;
          font-weight: 500;
        }

        & .multiselect__single {
          font-weight: 500;
        }

        & .multiselect__tags {
          width: getRem(300);
        }
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &-card {
      position: relative;
      margin-top: getRem(10);
      height: getRem(100);
      background-color: $contentText;
      box-shadow: getRem(5) getRem(5) getRem(20) $boxShadow;
      border-radius: getRem(10);
      display: flex;
      padding-left: getRem(20);
      align-items: center;
      column-gap: getRem(20);

      &-icon {
        width: getRem(20);
        height: getRem(20);
      }

      &-center {
        padding-top: getRem(10);
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        row-gap: getRem(5);

        &-details {
          display: flex;
          column-gap: getRem(5);
          font-size: getRem(10);

          & > img {
            width: getRem(10);
            height: getRem(10);
          }

          & > span {
            margin-right: getRem(10);
          }
        }

        & > span {
          display: -webkit-box;
          font-size: getRem(8);
          text-overflow: ellipsis;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          color: $disabled;
        }
      }

      &-attraction-image {
        position: relative;
        width: getRem(100);
        flex-grow: 0;
        flex-shrink: 0;
        height: 100%;
      }
    }

    &-remove {
      position: absolute;
      width: getRem(15);
      height: getRem(15);
      right: - getRem(5);
      top: - getRem(10);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-budget-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: getRem(20);
    margin-top: getRem(30);
    margin-bottom: getRem(40);
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: getRem(40);
    column-gap: getRem(20);
  }
}