// Colors
$backgroundColor: #EAFFED;
$backgroundColorDarker: #CAE9CF;
$backgroundColorLight: #FAFAFA;
$backgroundSecondary: #000000;
$contentText: #FFFFFF;
$contentTextSecondary: rgb(0, 0, 0, 0.7);
$boxShadow: rgb(0, 0, 0, 0.1);
$hoverBackgroundLight: #f1ecec;

// Padding
$basePaddingVertical: 20;
$basePaddingHorizontalXs: 20;
$basePaddingHorizontalSm: 40;
$basePaddingHorizontalMd: 80;
