// Colors
$backgroundColor: #EAFFED;
$backgroundColorDarker: #CAE9CF;
$backgroundColorMenu: #b2d7b9;
$backgroundColorDarkerHover: #78a983;
$backgroundColorLight: #FAFAFA;
$backgroundSecondary: #000000;
$contentText: #FFFFFF;
$contentTextSecondary: rgb(0, 0, 0, 0.7);
$boxShadow: rgb(0, 0, 0, 0.1);
$hoverBackgroundLight: #f1ecec;
$textBright: #FFA500;
$disabled: #9f9f9f;


// Padding
$basePaddingVertical: 20;
$basePaddingHorizontalXs: 20;
$basePaddingHorizontalSm: 40;
$basePaddingHorizontalMd: 80;
