@font-face {
  font-family: 'Montserrat';
  src: url('src/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('src/assets/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
}


@font-face {
  font-family: 'Montserrat';
  src: url('src/assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 500;
}
