@import "src/styles/base";

.home {
  height: max-content;
  padding: getRem($basePaddingHorizontalXs) getRem($basePaddingHorizontalXs) getRem($basePaddingHorizontalMd);

  @include sm-breakpoint {
    padding-left: getRem($basePaddingHorizontalSm);
    padding-right: getRem($basePaddingHorizontalSm);
  }

  @include md-breakpoint {
    height: 100vh;
    padding-left: getRem($basePaddingHorizontalMd);
    padding-right: getRem($basePaddingHorizontalMd);
    padding-bottom: initial;
  }
}
