@import "src/styles/base";

$basePaddingVertical: 20;
$basePaddingHorizontalXs: 20;
$basePaddingHorizontalSm: 40;
$basePaddingHorizontalMd: 80;


.home {
  background-color: $backgroundColor;
  height: 100vh;
  padding: getRem($basePaddingVertical) getRem($basePaddingHorizontalXs);

  @include sm-breakpoint {
    padding: getRem($basePaddingVertical) getRem($basePaddingHorizontalSm);
  }

  @include md-breakpoint {
    padding: getRem($basePaddingVertical) getRem($basePaddingHorizontalMd);
  }


  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-button-container {
      display: flex;
      align-items: center;

      & > button {
        margin-left: getRem(14);
      }
    }


    &-title {
      font-size: getRem(18);
      font-weight: bolder;

      @include sm-breakpoint {
        font-size: getRem(20);
      }
    }
  }

  &-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: getRem(75);

    @include md-breakpoint {
      flex-direction: row;
      align-items: center;
      column-gap: getRem(60);
    }

    &-left {
      position: relative;

      &-title {
        font-size: getRem(50);
        font-weight: bold;
      }

      &-description {
        text-align: justify;
        margin-top: getRem(20);
        font-size: getRem(14);
        color: $contentTextSecondary;
        width: 70%;
      }

      &-plane {
        position: absolute;
        right: getRem(10);
        bottom: getRem(70);
        visibility: hidden;


        @include xl-breakpoint {
          visibility: visible;
        }
      }

      &-destination-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: getRem(20);
        padding: getRem(10);
        height: getRem(50);
        background-color: $backgroundColorDarker;
        border-radius: getRem(30);

        @include lg-breakpoint {
          width: getRem(400);
        }

        &-input-title {
          font-size: getRem(9);

          @include sm-breakpoint {
            font-size: getRem(12);
          }
        }

        &-input-value {
          font-size: getRem(9);
          font-weight: bold;

          @include sm-breakpoint {
            font-size: getRem(12);

          }
        }

        & > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          column-gap: getRem(4);


          & > img {
            width: getRem(17);
            height: getRem(17);
          }

          & > div {
            margin-left: getRem(6);
            display: flex;
            flex-direction: column;
          }
        }
      }

      &-star {
        position: relative;
        width: getRem(20);
        height: getRem(20);

        &-pentagon-1 {
          @extend .home-title-container-left-star;
          left: getRem(100);
          top: getRem(-20);

          @include md-breakpoint {
            left: getRem(150);
          }
        }

        &-pentagon-2 {
          @extend .home-title-container-left-star;
          visibility: hidden;

          @include md-breakpoint {
            visibility: initial;
            left: getRem(-40);
          }
        }

        &-quadrangle-1 {
          position: absolute;
          width: getRem(30);
          height: getRem(30);
          right: getRem(10);

          @include md-breakpoint {
            top: getRem(-10);
            right: getRem(0);
          }
        }

        &-quadrangle-2 {
          @extend .home-title-container-left-star;
          width: getRem(30);
          height: getRem(30);
          left: getRem(120);
          bottom: getRem(-20);
        }
      }
    }

    &-right {
      margin-top: getRem(20);

      & > img {
        visibility: hidden;
        width: calc(100vw - getRem($basePaddingHorizontalSm) * 2);

        @include sm-breakpoint {
          width: calc(100vw - getRem($basePaddingHorizontalSm) * 6);
        }

        @include md-breakpoint {
          visibility: initial;
          width: initial;
        }
      }
    }
  }
}
